.container{
    background-color: rgb(27, 26, 26);
    box-shadow: 5px 5px 5px #161616, 
                -5px -5px 10px #292727;
    margin-top: 100px;
    margin-left: 15px;
    width: 95%;
    height: 200px;
}
.ShorteningcontainerHistory{
    margin-bottom: 12%;
}

h3 {
    text-align: center;
    color: aquamarine;
}
.downIcon {
    height: 17px;
    width: 17px;
    color: aquamarine;
}