.copybtn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
}


.secondcontainer{
    margin-top: 30px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.originalurlplace{
    color: rgb(154, 156, 156);
    width: 20%;
    word-break: break-all;
}
.shortenedurlplace{
    width: 20%;
}

a:link {
    color: aquamarine;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(154, 156, 156);
    background-color: transparent;
    text-decoration: underline;
  }

  