.signIn{
    color: white;

    .signInForm {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
        
        .signInLabel{
            margin-bottom: 2%;
        }
        
    }

}
.signInColor{
    color: aquamarine;
    margin-bottom: 2%;
}