header {
  color: aquamarine;
  font-size: 5rem;
  text-align: center;
}

footer {
  margin-top: 100px;
  padding-top: 20px;
  color: aquamarine;
  font-size: 1rem;
  text-align: center;
  height: 60px;
  border-top: 1px solid gray;

}

.secondary {
  background-color: rgb(154, 156, 156);
  color: black;
  
}

.primary-dark {
  
  background-color: rgb(15, 104, 74);
  color: white;
}