footer {
  position: fixed;
  margin-top: 15%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 104, 74);
  padding: 1%;
  color: white;
  text-align: center;

}

.secondary {
  background-color: rgb(154, 156, 156);
  color: black;
  
}

.primary-dark {
  
  background-color: rgb(15, 104, 74);
  color: white;
}